body {
    background-color: #eee;
    color:#111;
}
.flexy {
    display:flex;
}
.flexy-item {
    flex: 0 1 auto;
}
.flexy-pad {
    flex: 1 0 auto;
}
.title {
    font-size: 4em;
}
.page {
    max-width:800px;
}
.topbar-link {
    text-align: center;
    vertical-align: middle;
    padding-top:1em;
    padding-bottom:1em;
}
.topbar-link-left {
    border-left: 1px solid #ddd;
}
.topbar-link-right {
    border-right: 1px solid #ddd;
}
#container {
    margin:1em;
}
.full-width {
    width:100% !important;
}
.manage-webhook {
    text-align:center;
    padding:0.25em;
}
.large {
    font-size:2em;
}
.webhook-secret-hidden {
    color:#111;
    background-color: #111;
    user-select: none;
}
.tooltip {
    position: relative;
    display:inline-block;
}
.tooltip .tooltip-content {
    visibility: hidden;
    background-color: #222;
    color: #ddd;
    text-align: center;
    border-radius: 1em;
    padding: 5px 0;
    bottom: 120%;
    left: 50%;
    padding-left:0.5em;
    padding-right:0.5em;
    margin-left: -50%;
    position: absolute;
    z-index: 1;
}
.tooltip:hover .tooltip-content {
    visibility: visible;
}
.tooltip .tooltip-content::after {
    content: " ";
    position: absolute;
    top: 100%; 
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  .mdl-12 {
      font-size:1em;
  }